*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: #000;
    color: #fff;
}


/*-----------------------------------Start Gun Profile Page Section-----------------------------------*/

.main-container{
    display: flex;
    flex: 1;
    justify-content: space-around;
}


.gun-video-container{
    float: left;
    height: 300px;
    width: 600px;
    overflow: hidden;
    margin:40px 30px;
}

.Category{
    color: #fff;
    float: left;
    margin: 30px 40px;
}

.video{
    height: 300px;
    width: 600px;
}

.desc{
    padding: 20px;
}
#stats ul li:first-child{
    background: var(--primary-color);
    text-align: center;
    color: #000;

}

#stats{
    width: 500px;
    padding: 30px;
}

#stats ul{
    list-style: none;
}

.bar{
    background: #353b48;
    display: block;
    height: 3px;
    border: 1px solid rgba(0, 0,0,0.3);
    border-radius: 3px;
    box-shadow: 0 0 10px #353b48;
}

.bar span{
    height: 2px;
    float: left;
    background: #fff;
}

.Damage{
    width: 45%;
    animation: Damage 2s;
}

.FireRate{
    width: 48%;
    animation: Firerate 2s;
}

.Accuracy{
    width: 81%;
    animation: Accuracy 2s;
}

.Mobility{
    width: 72%;
    animation: Mobility 2s;
}

.Range{
    width: 62%;
    animation: Range 2s;
}

.Control{
    width: 68%;
    animation: Control 2s;
}

@keyframes Damage{
    0%{
        width: 0%;
    }

    100%{
        width: 45%;
    }
}

@keyframes Firerate{
    0%{
        width: 0%;
    }

    100%{
        width: 48%;
    }
}

@keyframes Accuracy{
    0%{
        width: 0%;
    }

    100%{
        width: 81%;
    }
}

@keyframes Mobility{
    0%{
        width: 0%;
    }

    100%{
        width: 72%;
    }
}

@keyframes Range{
    0%{
        width: 0%;
    }

    100%{
        width: 62%;
    }
}

@keyframes Control{
    0%{
        width: 0%;
    }

    100%{
        width: 68%;
    }
}



.footer-container{
    height: 150px;
    background: var(--background-color);
    overflow: hidden;
    border-top: 1px solid #fff;
}
.footer-container #age-restricted{
    height: 100px;
    width: 180px;
    margin: 30px;
}

.footer-container section{
    width: 50%;
    float: right;
    margin: 30px 10px;
}

.footer-container section p{
    color: var(--text-color);
}

.footer-container section ul{
    list-style-type: none;
    margin: 20px 0 20px 0;
}

.footer-container section ul li{
    display: inline;
    color: var(--text-color);
    padding-right: 20px;
    cursor: pointer;
}

.footer-container section ul li:nth-child(2){
    color: rgb(59, 89, 152);
}

.footer-container section ul li:nth-child(3){
    color: rgb(188, 42, 141);
}

.footer-container section ul li:nth-child(4){
    color: rgb(0, 172, 237);
}

.footer-container section ul li:nth-child(5){
    color: rgb(187, 0, 0);
}
